
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <form method="post" action="Add">
        Név: <input type="text" name="name" /> <br/>
        Beosztás: <input type="text" name="job" /> <br/>
        Fizetés: <input type="text" name="salary" /> <br/>
        <input type="submit" value="Felvesz" />
    </form>
</body>
</html>
