@model List<ASP02.Models.WorkerModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Home/Add" >Új dolgozó felvétele</a>

    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>Név</th>
            <th>Beosztás</th>
            <th>Fizetés</th>
            <th>Lehetőségek</th>
        </tr>
        
        <tr>
            @{
                foreach (var item in @Model)
                {
                    <td>@item.Name</td>
                    <td>@item.Job</td>
                    <td>@item.Salary</td>
                    <td></td>
                }
            </tr>
        }
    </table>

</body>
</html>
