@model List<ASP02.Models.WorkerModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <a href="/Home/Add" >Új dolgozó felvétele</a>

    <ul>
        @{
            foreach (var item in @Model)
            {
                <li>@item.Name</li>
            }
        }
    </ul>

</body>
</html>
